html,
body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  border-radius: 3px;
  line-height: 18px;
  padding: 10px;
  color: rgb(103, 101, 101);
  background-color: white;
  
}

.legend i {
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  opacity: 0.5;
}